apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: plannify-pdf-service
  name: plannify-pdf-service
  namespace: plannify-dev
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: plannify-pdf-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: plannify-pdf-service
    spec:
      containers:
        - name: plannify-pdf-service
          image: ghcr.io/plannify-truck-driver/pdf-service:0.1.3
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "150m"
              memory: "128Mi"
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: HOST
              value: "0.0.0.0"
            - name: PORT
              value: "3000"
            - name: WEBSITE_URL
              value: "https://app-dev.plannify.be"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      imagePullSecrets:
        - name: ghcr-secret
